$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$green: #0f0;
$black: #25292e;
$blue: #00f;
$white: #fff;
$text-align: center;
$border-box: border-box;
$grey: #404448;

.box {
  background-color: $grey;
  border: 3px solid $black;
  box-sizing: $border-box;
  color: $white;
  padding: 15%;
  text-align: $text-align;
  width: 33.3%;
}

.games {
  text-align: $text-align;
}

.record {
  text-align: $text-align;
}

.game-content {
  text-align: $text-align;
}
