$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$green: #0f0;
$red: #f00;
$blue: #00f;
$white: #fff;


.box {
  background-color: $green;
  border: 3px solid $red;
  box-sizing: border-box;
  padding: 15%;
  text-align: center;
  width: 33.3%;
}

.games {
  text-align: center;
}

.record {
  text-align: center;
}

// p {
//   background-color: $blue;
//   color: $white;
//   & > message {
//
//   }
// }
